.clock{
	width:200px;
	height:200px;
	background-color:grey;
	border-radius:50%;
	position:relative;
}

.hand{
	width:2px;
	background-color:black;
	position:absolute;
	left:100px;
	bottom:100px;
	transform-origin: 50% 100%;
}
.seconds{
	height:95px;
	background-color:red;
}
.minute{
	height:90px;
}
.hour{
	height:60px;
	width:3px;
}

	